* {
  box-sizing: border-box;
  margin: 0px;
}

.light-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-dark {
  background-color: #000000;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
}

.background-light {
  background-color: #ffffff;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
}

.heading {
  font-family: 'Roboto';
  font-size: 26px;
  margin-bottom: 30px;
}

.color-black {
  color: #000000;
}

.color-light {
  color: #ffffff;
}

.button {
  height: 35px;
  width: 110px;
  background-color: lightgray;
  font-size: 14px;
  color: #000000;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
